<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <%= image_tag work.thumbnail.url, class: "rounded-t-lg"%>
    <div class='mr10 float-right'>
      <% if current_user&.own?(work) %>
        <%= render 'works/crud_menus', work: work %>
      <% end %>
    </div>
    <div class="p-5">
        <%= link_to work.title, work_path(work), class: "mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" %>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= work.summary %></p>
        <%= link_to "author: #{work.user.name}", user_path(work.user.id), class: "mb-3 font-normal text-gray-700 dark:text-gray-400"%>
    </div>
</div>