<div class="col-sm-12 col-lg-4 mb-3">
  <div id="work-id-<%= work.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to work.title, work_path(work) %>
          </a>
        </h4>
        <div class='mr10 float-right'>
        <% if current_user&.own?(work) %>
          <%= render 'works/crud_menus', work: work %>
        <% end %>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= link_to work.user.name, user_path(work.user.id) %>
          </li>
          <li class="list-inline-item">
            <%= l work.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= work.summary %></p>
      </div>
    </div>
  </div>
</div>