<div class="container">
  <div id="work-id-<%= work.id %> ">
    <div class="container border border-black mx-auto my-4 px-4">
      <div class="my-2">
      <%= image_tag work.thumbnail.url %>
        <div class="text-3xl font-bold">
          <%= link_to work.title, work_path(work) %>
        </div>
        <div class='mr10 float-right'>
        <% if current_user&.own?(work) %>
          <%= render 'works/crud_menus', work: work %>
        <% end %>
        </div>
        <ul class="list-inline pl-10">
          <li class="list-inline-item pt-0.5">
            <%= link_to "author: #{work.user.name}", user_path(work.user.id) %>
          </li>
          <li class="list-inline-item pt-0.5">
            </p><%= work.summary %></p>
          </li>
          <li class="list-inline-item">
            <%= l work.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>