<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              サムネイル
            </div>
            <div class='col-md-9'>
              <h1 style='display: inline;'><%= @work.title %></h3>
              <% if current_user&.own?(@work) %>
                <%= render 'crud_menus', work: @work %>
              <% end %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= link_to @work.user.name, user_path(@work.user.id) %></li>
                <li class="list-inline-item"><%= l @work.created_at, format: :long %></li>
              </ul>
            </div>
          </div>
        <p><%= simple_format(@work.summary) %></p>
        </div>
      </article>
    </div>
  </div>

</div>