<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <!-- 作品のサムネ、題名とか -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div >
              <%= image_tag @work.thumbnail.url, class: 'mx-auto max-w-lg h-auto mb-3', width: 350 %>
            </div>
            <div class='col-md-9'>
              <div class='mb-3 text-3xl font-bold'>
                <%= @work.title %>
              </div>
            </div>
          </div>
        </div>
      </article>


      <!-- タブ見出し -->
      <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
          <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
              <li class="mr-2" role="presentation">
                  <button class="inline-block p-4 rounded-t-lg border-b-2" id="summary-tab" data-tabs-target="#summary" type="button" role="tab" aria-controls="summary" aria-selected="false">概要</button>
              </li>
              <li class="mr-2" role="presentation">
                  <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="story-tab" data-tabs-target="#story" type="button" role="tab" aria-controls="story" aria-selected="false">ストーリー</button>
              </li>
              <li class="mr-2" role="presentation">
                  <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="character-tab" data-tabs-target="#character" type="button" role="tab" aria-controls="character" aria-selected="false">キャラ</button>
              </li>
              <li role="presentation">
                  <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="log-tab" data-tabs-target="#log" type="button" role="tab" aria-controls="log" aria-selected="false">ログ</button>
              </li>
          </ul>
      </div>

      <div id="myTabContent">
          <!-- 概要タブ中身 -->
          <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="summary" role="tabpanel" aria-labelledby="summary-tab">
            <ul class="list-inline">
              <li class="list-inline-item"><%= link_to "author: #{@work.user.name}", user_path(@work.user.id) %></li>
              <li class="list-inline-item">登録:<%= l @work.created_at, format: :long %></li>
              <li class="list-inline-item">更新:<%= l @work.updated_at, format: :long %></li>
              <p><%= simple_format(@work.summary) %></p>
            <div class='mr10 mt-5'>
              <% if current_user&.own?(@work) %>
                <%= render 'crud_menus', work: @work %>
              <% end %>
            </div>
            </ul>
            </div>

          <!-- ストーリータブ中身 -->
          <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="story" role="tabpanel" aria-labelledby="story-tab">
              <% if current_user&.own?(@work) %>
                <%= render 'work_blocks/modal' %>
              <% end %>
              <ol class="relative border-l border-gray-200 dark:border-gray-700"> 
              <% @storys.each do |work_block| %>
                <%= render 'work_blocks/work_block', work: @work, work_blocks: @work_blocks, work_block: work_block %>
              <% end %>
              </ol>
          </div>

          <!-- キャラクタータブ中身 -->
          <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="character" role="tabpanel" aria-labelledby="character-tab">
              <% if current_user&.own?(@work) %>
                <%= render 'work_blocks/modal_character' %>
              <% end %>
              <ol class="relative border-l border-gray-200 dark:border-gray-700"> 
              <% @characters.each do |work_block| %>
                <%= render 'work_blocks/work_block', work: @work, work_blocks: @work_blocks, work_block: work_block %>
              <% end %>
              </ol>
          </div>

          <!-- ログタブ中身 -->
          <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="log" role="tabpanel" aria-labelledby="log-tab">
              <% if current_user&.own?(@work) %>
                <%= render 'work_blocks/modal_log' %>
              <% end %>
              <ol class="relative border-l border-gray-200 dark:border-gray-700"> 
              <% @logs.each do |work_block| %>
                <%= render 'work_blocks/work_block', work: @work, work_blocks: @work_blocks, work_block: work_block %>
              <% end %>
              </ol>
          </div>
      </div>

    </div>
  </div>

</div>