<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag @work.thumbnail.url %>
            </div>
            <div class='col-md-9'>
              <div class='text-3xl font-bold'>
                <%= @work.title %>
              </div>
              <div class='mr10 float-right'>
                <% if current_user&.own?(@work) %>
                  <%= render 'crud_menus', work: @work %>
                <% end %>
              </div>
              <ul class="list-inline">
                <li class="list-inline-item"><%= link_to "author: #{@work.user.name}", user_path(@work.user.id) %></li>
                <li class="list-inline-item">登録:<%= l @work.created_at, format: :long %></li>
                <li class="list-inline-item">更新:<%= l @work.updated_at, format: :long %></li>
              </ul>
            </div>
          </div>
        <p><%= simple_format(@work.summary) %></p>
        </div>
      </article>
    </div>
  </div>

</div>