<h1>プロフィール設定</h1>
<%= form_with model: @user, local: true do |f| %>
  <div class="form-group">
    <%= f.label :avatar %>
    フィールド
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: 'form-control' %>
  </div>


  <%= f.submit class: 'btn btn-primary' %>
<% end %>